Source: cupt
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl (>= 5.10.0)
Maintainer: Eugene V. Lyubimkin <jackyf.devel@gmail.com>
Standards-Version: 3.8.1

Package: libcupt-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: alternative front-end for dpkg modules
 This is a set of Cupt Perl modules implementing front-end to dpkg.
 See description of 'cupt' package for more information.

Package: cupt
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Recommends: liblocale-gettext
Description: alternative console front-end for dpkg
 This package provides a console interface to Cupt library, which is a
 re-implementation of libapt-pkg C++ library using Perl. The aim is to produce
 more strict, more robust, less buggy front-end than APT.
 .
 It uses the same APT infrastructure, e.g. index files, deb cache archive
 files, configuration files. It understands some of widely used APT options.
 .
 Some features:
  - strict and full-case resolver;
  - command-line and APT-like option name checker;
  - case-sensitive search;
  - pinning by source package name;
  - pinning by package groups using shell-like patterns;
  - configurable 'depends' and 'rdepends' subcommands;
  - 'satisfy' subcommand.
 .
 Its interface is mostly like apt-get/aptitude console interface.
